body {
	margin: 0;
	align-items: center;
	text-align: center;
	font-size: 16px;
	background-color: #ffd6fe;
}

table {
	border-collapse: collapse;
	min-width: 640px;
	min-height: 360px;
}

th, td {
	border: 1px dashed black;
	padding: 8px;
}
